* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "LetraFuente";
  src: url("../fuente/NovaMono-Regular.ttf");
}
/***************************************************/
body {
  font-family: "LetraFuente";
  background-color: rgba(100, 81, 240, 0.522);
  font-size: 1rem;
}

.cabecera .nav {
  background-color: rgb(12, 12, 61);
}
.cabecera .nav .LogoTienda {
  width: 115px;
  height: auto;
  border-radius: 50%;
  margin: 50px 50px 0px 50px;
}
.cabecera .nav .letra-logo {
  font-family: "LetraFuente";
  color: rgb(255, 255, 255);
  margin-left: 50px;
  text-decoration: none;
}
.cabecera .nav .navegacion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  background-image: url("../img/banner.avif");
  background-size: 100%;
  font-size: 2rem;
}
.cabecera .nav .navegacion .nav-a {
  text-decoration: none;
}

/***************************************************/
/*index-main*/
.titulopag {
  margin: 0 center;
  text-align: center;
  background-image: url("../img/banner.avif");
  background-size: 100%;
  padding-top: 50px;
}

.secord {
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.secord .ImagenDestacada {
  height: auto;
  max-width: 200px;
  background-color: rgba(29, 7, 172, 0.505);
  border-radius: 10px;
  margin-top: 150px;
}
.secord .Piedefoto {
  margin: 0 center;
}
.secord .Linkfoto {
  text-align: center;
  margin-left: 75px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid white;
}
.secord .Linkfoto a:visited {
  color: gray;
}
.secord .Linkfoto a:hover {
  color: white;
}

@media (max-width: 445px) {
  .secord {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 446px) and (max-width: 767px) {
  .secord {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1250px) {
  .secord {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}
@media (min-width: 1251px) {
  .secord {
    display: flex;
    justify-content: space-between;
  }
}
/***************************************************/
/*footer*/
.footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  background-image: url("../img/banner.avif");
  padding-bottom: 1rem;
}
.footer .derechos {
  color: white;
  font-size: 1rem;
}
.footer .arriba {
  font-size: 1rem;
}
.footer .insta {
  font-size: 1rem;
}

/***************************************************/
/*Quienes somos*/
.flexxx {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flexxx .quienessomos {
  text-align: center;
}
.flexxx .moch {
  max-width: 100%;
  height: auto;
  text-align: center;
}
.flexxx .moch .mochila1 {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
.flexxx .ord_qu2 {
  text-align: center;
}
.flexxx .finalquienes {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 445px) {
  .flexxx {
    display: flex;
  }
  .flexxx .moch .mochila1 {
    max-width: 100%;
  }
}
/***************************************************/
/*Pins*/
.titpins {
  text-align: center;
}

.secord-1 {
  margin-left: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.secord-1 .ventapins {
  margin-left: 1rem;
}
.secord-1 .ventapins .imgpin {
  height: auto;
  max-width: 200px;
  background-color: rgba(29, 7, 172, 0.505);
  border-radius: 10px;
}
.secord-1 .ventapins .link-pinsv {
  text-align: center;
  margin-left: 75px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid white;
}
.secord-1 .ventapins .link-pinsv a:visited {
  color: gray;
}
.secord-1 .ventapins .link-pinsv a:hover {
  color: white;
}

@media (max-width: 447px) {
  .secord-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 448px) and (max-width: 767px) {
  .secord-1 {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
  }
  .secord-1 .ventapins .imgpin {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 948px) {
  .secord-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
  }
}
/***************************************************/
/*Sublimacion*/
.togglenav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Parches {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  margin-left: 5rem;
}
.Parches .orderpar .imgsubli {
  height: 200px;
  width: 200px;
  background-color: rgba(29, 7, 172, 0.505);
  border-radius: 10px;
  margin-top: 50px;
}
.Parches .orderpar .linksub {
  text-align: center;
  margin-left: 75px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid white;
}

.tazones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 5rem;
}
.tazones .ordertaz .imgsubli {
  height: 200px;
  width: 200px;
  background-color: rgba(29, 7, 172, 0.505);
  border-radius: 10px;
  margin-top: 50px;
}
.tazones .ordertaz .linksub {
  text-align: center;
  margin-left: 75px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid white;
}

.titulosubli {
  margin-top: 50px;
  text-align: center;
}

.poleras {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 5rem;
}
.poleras .orderpol .imgsubli {
  height: 200px;
  width: 200px;
  background-color: rgba(29, 7, 172, 0.505);
  border-radius: 10px;
  margin-top: 50px;
}
.poleras .orderpol .linksub {
  text-align: center;
  margin-left: 75px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid white;
}

@media (max-width: 445px) {
  .Parches {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tazones {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .poleras {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 446px) and (max-width: 767px) {
  .Parches {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
  }
  .tazones {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
  }
  .poleras {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
  }
}
@media (min-width: 768px) and (max-width: 948px) {
  .Parches {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 2rem;
  }
  .tazones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem;
  }
  .poleras {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
  }
}
@media (min-width: 949px) and (max-width: 1080px) {
  .Parches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 2rem;
  }
  .tazones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-items: center;
    margin: 2rem;
  }
  .poleras {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 2rem;
  }
}
/***************************************************/
/*Contacto*/
.titulocont {
  text-align: center;
  margin-top: 50px;
}

.flexcont {
  display: flex;
  justify-content: space-evenly;
}
.flexcont .form {
  display: flex;
  flex-direction: column;
}
.flexcont .form .nombre {
  padding: 10px 50px 10px 50px;
  text-align: center;
}
.flexcont .form .Telefono {
  padding: 10px 50px 10px 50px;
  text-align: center;
}
.flexcont .form .email {
  padding: 10px 50px 10px 50px;
  text-align: center;
}
.flexcont .form .menu-opciones .opciones {
  padding: 3px 61px 3px 61px;
}
.flexcont .form .selecs {
  display: block;
}
.flexcont .form .selecs .textoseleccion {
  display: block;
  text-align: center;
}
.flexcont .form .selmensaje .mensaje {
  width: 260px;
  height: 176px;
}
.flexcont .form .button .boton {
  width: 260px;
  height: 25px;
}

.subtitulo {
  text-align: center;
  margin-bottom: 2rem;
}
.subtitulo .textosubtitulo {
  margin: 1rem;
}

@media (max-width: 780px) {
  .flexcont {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}/*# sourceMappingURL=style.css.map */