* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "LetraFuente";
    src: url("../fuente/NovaMono-Regular.ttf");
}
/***************************************************/

body{
    font-family: "LetraFuente";
    background-color: rgba(100, 81, 240, 0.522);
    font-size: 1rem;

}


.cabecera {
    .nav{
        background-color: rgb(12, 12, 61);

        .LogoTienda {
            width: 115px;
            height: auto;
            border-radius: 50%;
            margin: 50px 50px 0px 50px;
            }
        .letra-logo {
            font-family: "LetraFuente";
            color: rgb(255, 255, 255);
            margin-left: 50px;
            text-decoration: none;
            }
        
    .navegacion{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin-top: 20px;
                background-image: url("../img/banner.avif");
                background-size: 100%;
                font-size: 2rem;

            .nav-a{
                text-decoration: none; 
                }
                
        }
    }
}

/***************************************************/
/*index-main*/
.titulopag{
    margin: 0 center;
    text-align: center;
    background-image: url("../img/banner.avif");
    background-size: 100%;
    padding-top: 50px;
}


.secord{
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .ImagenDestacada {
        height: auto;
        max-width: 200px;
        background-color: rgba(29, 7, 172, 0.505);
        border-radius: 10px;
        margin-top: 150px;
    }
    
    .Piedefoto{
        margin: 0 center;
    }

    .Linkfoto{
        text-align: center;
        margin-left: 75px;
        text-decoration: none;
        border-radius: 10px;
        border: 1px solid white;

        a:visited{
            color: gray;
        }
        
        a:hover{
            color:white
        }
    
    }    
}

@media (max-width:445px){
    .secord{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width:446px) and (max-width:767px){
    .secord{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-items: center;
    }
}
@media (min-width:768px) and (max-width:1250px){
    .secord{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}

@media (min-width:1251px){
    .secord{
        display:flex;
        justify-content: space-between;
    }
}

/***************************************************/
/*footer*/
.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    background-image: url("../img/banner.avif");
    padding-bottom: 1rem;

    .derechos{
        color: white;
        font-size: 1rem;
    }
    
    .arriba{
        font-size: 1rem;
    }

    .insta{
        font-size: 1rem;
    }

}
/***************************************************/
/*Quienes somos*/


.flexxx{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .quienessomos{
        text-align: center;
    }
    
    .moch{
        max-width: 100%;
        height: auto;
        text-align: center;

        .mochila1{
            max-width: 100%;
            height: auto;
            border-radius: 20px;
        }
    }

    .ord_qu2{
        text-align: center;
    }

    .finalquienes{
        text-align: center;
        margin-top: 50px;
    }    
}

@media (max-width:445px){
    .flexxx{
        display: flex;
        .moch{
            .mochila1{
                max-width: 100%;
            }
        }
    }
}

/***************************************************/
/*Pins*/
.titpins{
    text-align: center;
}

.secord-1{
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    

    .ventapins{
        margin-left: 1rem;
        


        .imgpin{
            height: auto;
            max-width: 200px;
            background-color: rgba(29, 7, 172, 0.505);
            border-radius: 10px;
        }

        .link-pinsv{
            text-align: center;
            margin-left: 75px;
            text-decoration: none;
            border-radius: 10px;
            border: 1px solid white;

            a:visited{
                color: gray;
            }
        
            a:hover{
                color:white
            }
        }
    }
}

@media (max-width:447px){
    .secord-1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 448px) and (max-width: 767px){
    .secord-1{
        margin: 0;
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-items: center;
        .ventapins{
            .imgpin{
                width: 200px;
                height: 200px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 948px){
    .secord-1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        justify-items: center;
    }

}
/***************************************************/
/*Sublimacion*/

.togglenav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Parches{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin-left: 5rem;

    .orderpar{
        

        .imgsubli{
            height: 200px;
            width: 200px;
            background-color: rgba(29, 7, 172, 0.505);
            border-radius: 10px;
            margin-top: 50px;
        }


        .linksub{
            text-align: center;
            margin-left: 75px;
            text-decoration: none;
            border-radius: 10px;
            border: 1px solid white;
        }
    }
}


.tazones{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 5rem;

    .ordertaz{
        .imgsubli{
            height: 200px;
            width: 200px;
            background-color: rgba(29, 7, 172, 0.505);
            border-radius: 10px;
            margin-top: 50px;
        }

        .linksub{
            text-align: center;
            margin-left: 75px;
            text-decoration: none;
            border-radius: 10px;
            border: 1px solid white;
        }
    }
}

.titulosubli{
    margin-top: 50px;
    text-align: center;
}
.poleras{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5rem;
    .orderpol{
        .imgsubli{
            height: 200px;
            width: 200px;
            background-color: rgba(29, 7, 172, 0.505);
            border-radius: 10px;
            margin-top: 50px;
        }
        .linksub{
            text-align: center;
            margin-left: 75px;
            text-decoration: none;
            border-radius: 10px;
            border: 1px solid white;
        }
    }
}
@media (max-width: 445px){
    .Parches{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tazones{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .poleras{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 446px) and (max-width: 767px){
    .Parches{
        margin: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-items: center;
    }
    .tazones{
        margin: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-items: center;
    }
    .poleras{
        margin: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        justify-items: center;
    }
}

@media (min-width: 768px) and (max-width: 948px){
    .Parches{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        margin: 2rem;
    }
    .tazones{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 3rem;
    }
    .poleras{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin:2rem;
    }
}

@media (min-width:949px) and (max-width: 1080px){
    .Parches{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        margin: 2rem;
    }
    
    .tazones{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        justify-items: center;
        margin: 2rem;
    }
    .poleras{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        margin: 2rem;
    }
}
/***************************************************/
/*Contacto*/
.titulocont{
    text-align: center;
    margin-top: 50px;
}


.flexcont{
    display: flex;
    justify-content: space-evenly;
    
    .form{
        display: flex;
        flex-direction: column;

        .nombre{
            padding:10px 50px 10px 50px;
            text-align: center;
        }

        .Telefono{
            padding: 10px 50px 10px 50px;
            text-align: center;
        }

        .email{
            padding: 10px 50px 10px 50px;
            text-align: center;
        }
        
        .menu-opciones{
            .opciones{
                padding: 3px 61px 3px 61px; 
            }
        }

        .selecs{
            display: block;

            .textoseleccion{
                display: block;
                text-align: center;
            }
        }

        .selmensaje{
            .mensaje{
                width: 260px;
                height: 176px;
            }
        }

        .button{
            .boton{
                width: 260px;
                height: 25px;
            }            
        }
    }
}

.subtitulo{
    text-align: center;
    margin-bottom: 2rem;

    .textosubtitulo{
        margin: 1rem;
    }
}


@media (max-width:780px) { .flexcont{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
}

